---
layout: layout.njk
title: 毒霧森林
---
{% from "dungeon-macros.njk" import dungeonHeader, stageRow, npc, mob, item, itemBold, dungeonNav %}

<div class="forum-banner">
    <div class="forum-banner-content">
        <h1>毒霧森林</h1>
    </div>
</div>

<div class="forum-main-card forum-main-card-warm">
    
    {{ dungeonHeader('４５等 ↑', '４～６人', '１０４０００', [{name: '組隊硬幣', value: '1 個'}], '毒霧森林', '艾靈森林:深沉精靈之林') }}

    <ul class="dungeon-timeline-full">
        {% call() stageRow(1, '初入森林', '毒霧森林', 'gif') %}
        <ul class="rule-list">
            <li>清理地圖上所有怪物，擊殺完畢後即可前往下一階段。</li>
        </ul>
        {% endcall %}

        {% call() stageRow(2, '變質的森林', '毒霧森林', 'gif') %}
        <ul class="rule-list">
            <li>地圖左右方將會生成怪物，需將怪物引誘至 {{ mob('地圖中央', '毒霧森林/地圖中央.png', 2) }} 才可進行擊殺。</li>
            <li>擊殺後會掉落 {{ item('劇烈毒液') }}，此道具無法撿取，稍等幾秒後會變為{{ item('稀釋毒液') }}，此時再進行撿取。</li>
            <li>前往地圖最右方 {{ mob('荊棘處', '毒霧森林/荊棘處.png', 2) }}，將{{ item('稀釋毒液') }} 丟出來，稍等幾秒後會消除荊棘。</li>
            <li>重複操作四次後，荊棘將會完全消失。即可前往下一階段。</li>
            <li><span class="tip-text">💡 請注意：每個步驟都請間隔 2 秒以上，太快進行操作將會失效，{{ item('稀釋毒液') }} 需要一瓶一瓶丟。</span></li>
        </ul>
        {% endcall %}

        {% call() stageRow(3, '濃霧森林', '毒霧森林') %}
        <ul class="rule-list">
            <li>地圖上會有一堆傳點，隨意選擇傳點進入，將會隨機傳送。</li>
            <li>直到任意一位隊員見到 {{ npc('艾靈NPC', '毒霧森林/艾靈NPC.png', 3) }} ，並且與他對話，即可整隊通關。</li>
        </ul>
        {% endcall %}

        {% call() stageRow(4, '中毒的森林', '毒霧森林', 'gif') %}
        <ul class="rule-list">
            <li>與NPC對話後可取得{{ item('淨化之珠') }}，此道具會在背包消耗欄位。</li>
            <li>將地圖上怪物削弱至低血量後，即可使用{{ item('淨化之珠') }} 進行淨化。</li>
            <li>成功淨化後將會獲得{{ item('怪物珠') }}，蒐集後請交給隊長。</li>
            <li>由隊長將{{ item('怪物珠') }} 10個 提交給 {{ npc('艾靈NPC', '毒霧森林/艾靈NPC.png', 4) }} 後即可通關。</li>
        </ul>
        {% endcall %}

        {% call() stageRow(5, '森林空地', '毒霧森林', 'gif') %}
        <ul class="rule-list">
            <li>忍耐地圖，最上方將有左、中、右共 3 個平台，每個平台都有各 3 個箱子。</li>
            <li><span class="tip-text">💡 請注意：</span> {{ mob('左平台', '毒霧森林/左平台.png', 5) }} 、 {{ mob('中平台', '毒霧森林/中平台.png', 5) }} 、 {{ mob('右平台', '毒霧森林/右平台.png', 5) }} 都有特殊路徑，其餘路徑會踩空掉落。</li>
            <li>分工合作將箱子擊破，其中一個箱子將會掉落{{ item('紫色魔力石') }}。</li>
            <li>持有{{ item('紫色魔力石') }} 與地圖最下方的 {{ npc('小精靈NPC', '毒霧森林/小精靈NPC.png', 5) }} 進行對話即可通關。</li>
        </ul>
        {% endcall %}

        {% call() stageRow(6, '劇毒森林', '毒霧森林') %}
        <ul class="rule-list">
            <li>將{{ item('紫色魔力石') }} 丟至 {{ mob('祭壇中央', '毒霧森林/祭壇中央.png', 6) }}，即可召喚 BOSS。</li>
            <li>BOSS 有三階段，每階段都會變得更強大，完整擊敗後即可通關。</li>
        </ul>
        {% endcall %}
    </ul>
    
    {{ dungeonNav('組隊', '時空的裂縫', '女神的痕跡') }}

</div>